@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.social-media a{
  color: aliceblue;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: #212121;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 80%;
  margin: auto;
}

a {
  text-decoration: none;
  transition: 0.5;
}

header {
  background: #212121;
  color: white;
  height: 15vh;
  width: 100%;
}

.logo h2 {
  margin-top: 20px;
  font-family: "Pacifico", cursive;
  font-style: italic;
  font-weight: 100;
  color: gold;
  font-size: 2rem;
}
h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: italic;
  font-weight: 600;
  color: white;
}

header .navbar {
  display: flex;
  align-items: center;
  height: min-content;
  width: 100%;
  justify-content: center;
}

header a {
  color: white;
  font-size: 14px;
}

header nav {
  flex: 1;
  text-align: right;
}

header nav ul {
  display: inline-block;
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin: 15px;
  transition: 0.5s;
}

header nav ul li.active {
  background: #0e6c66;
  padding: 5px 10px;
  border-radius: 5px;
}

header nav i {
  transition: 0.5s;
  cursor: pointer;
}

header nav i:hover {
  color: #0e6c66;
}

header nav ul li:hover {
  background: #0e6c66;
  padding: 5px 10px;
  border-radius: 5px;
}

header .navbar span {
  text-align: center;
  margin-left: 20px;
  color: white;
  font-size: 25px;
  display: none;
}
.welcome-video {
  width: 600px;
  height: 400px;
  border-radius: 10%;
}

/* display galarry section started */
.display-galarry {
  width: 100%;
  height: min-content;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.display-galarry .content {
  width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px;
}
.display-galarry h2 {
  color: yellow;
}
.display-galarry p {
  color: white;
}
.gallery {
  margin-top: 0px;
  --s: 200px; /* control the size */
  --g: 10px; /* control the gap */
  --f: 1.5; /* control the scale factor */
  display: grid;
  gap: var(--g);
  width: calc(3 * var(--s) + 2 * var(--g));
  aspect-ratio: 1;
  grid-template-columns: repeat(3, auto);
}

.gallery > img {
  width: 0;
  height: 0;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  cursor: pointer;
  filter: grayscale(10%);
  transition: 0.35s linear;
}

.gallery img:hover {
  filter: grayscale(0);
  width: calc(var(--s) * var(--f));
  height: calc(var(--s) * var(--f));
}
/* end of display galarry section*/

/*----------home--------*/
.hero-sec {
  height: min-content;
  background-color: #212121;
  padding: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.hero-sec .left {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  flex-grow: 1;
  flex-shrink: 1;
}
.hero-sec .left p {
  color: white;
  font-weight: 100;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  text-align: center;
}
.hero-sec .right {
  width: min-content;
  height: min-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
}

button {
  outline: none;
  border: none;
  background: none;
  padding: 12px 50px;
  background: #0e6c66;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: 0.5s;
  cursor: pointer;
}

button:hover {
  border: 1px solid #0e6c66;
  background: none;
  color: #0e6c66;
}

img {
  width: 100%;
  height: 100%;
}

/*----------home--------*/
/*----------about--------*/
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 20px;
}

.about {
  text-align: center;
  margin-top: 100px;
  color: white;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
.about .item {
  margin-top: 50px;
  width: 300px;
  height: 300px;
  padding: 5px;
  box-shadow: 1px 1px 5px wheat;
}

.about .item h2 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}

.about .item svg {
  width: 80px;
  height: 80px;
}

.about .item p {
  opacity: 0.8;
  margin-top: 20px;
}

.about .content {
  text-align: left;
  margin-top: 100px;
}

.about .content .left {
  width: 40%;
  margin-right: 50px;
}

.about .content .right {
  margin-top: 5%;
  padding: 20px;
}

.about .content h2 {
  font-size: 40px;
  font-weight: 100;
  margin-bottom: 20px;
}

.about .content p {
  margin-bottom: 20px;
}
.about-img {
  display: flex;
}

.service-img {
  width: 150px;
  height: 150px;
}
.services {
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.services h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2rem;
  float: left;
}
.service-item {
  box-shadow: 0px 0px 3px white;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2%;
}
.service-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
/*----------about--------*/

/* contact us section  */
.contact-us {
  max-width: 800px;
  margin: 20px auto;
  color: white;
  padding: 20px;
}
.contact-us h2 {
  color: yellow;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 30px;
}

.contact-info {
  margin-bottom: 20px;
}

.contact-info p {
  margin-bottom: 10px;
}

.address {
  margin-bottom: 10px;
}
.location-image img {
  width: 230px;
  height: 230px;
  border-radius: 8px;
  margin-bottom: 20px;
}
.contact-form {
  max-width: 600px;
  margin: 0 auto;
}
iframe {
  width: 100%;
}
.contact-form label {
  display: block;
  margin-bottom: 8px;
}
.contact-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form button {
  background-color: #0e6c66;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: transparent;
  border: 1px solid wheat;
}
/* end of contact us section  */
/*----------customer--------*/
.customer {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}
.items-grid {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
  gap: 30px;
}
.box {
  min-width: 320px;
  min-height: 300px;
  box-shadow: 0px 0px 5px white;
}



.customer h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
}

.customer .grid {
  grid-template-columns: repeat(2, 1fr);
}

.customer .para {
  background-color: #212121;
  color: white;
  padding: 20px;
  position: relative;
  margin-bottom: 10px;
}

.customer .para::after {
  content: "";
  position: absolute;
  left: 0;
  border-top: 60px solid #212121;
  border-right: 60px solid transparent;
}

.customer img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 20px;
}

.customer .text {
  color: white;
}

/*----------customer--------*/

/* footer */
footer {
  width: 100%;
  background-color: #0e6c66;
  list-style: none;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  padding: 20px;
  flex-direction: column;
}
footer .more {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  row-gap: 50px;
  flex-wrap: wrap;
  padding: 10px;
}
.more ul {
  list-style: none;
  font-weight: 100;
}
.more ul li a {
  color: white;
  font-weight: 100;
}
.more ul li a:hover {
  color: yellow;
  text-decoration: underline;
  padding: 5px;
  font-weight: 100;
}
.social-media {
  width: 300px;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 5%;
  cursor: pointer;
}
.social-media i {
  font-size: 1.5rem;
}
.social-media i:hover {
  color: yellow;
}
.legal {
  padding-bottom: 20px;
}
.legal span {
  color: yellow;
  text-decoration: underline;
  cursor: pointer;
}
/* end of footer section */
/* for med screens */
@media only screen and (max-width: 1200px) {
  header nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    height: min-content;
    padding-bottom: 20px;
    width: 100%;
    background-color: #212121;
    overflow: hidden;
    z-index: 3;
    transition: max-height 0.5s;
    text-align: center;
  }

  header nav ul li {
    display: block;
    margin: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  header nav ul li a {
    color: white;
  }

  header .navbar span {
    color: white;
    display: block;
    cursor: pointer;
  }
  .hero-sec {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 30px;
  }

  .hero-sec .left {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .hero-sec .left p {
    color: white;
    font-weight: 100;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-size: 18px;
    text-align: center;
  }
  .hero-sec .right {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
  }
  /* display galarry section started */
  .display-galarry {
    width: 100%;
    height: min-content;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .display-galarry .content {
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px;
  }
  .display-galarry h2 {
    color: yellow;
    text-align: center;
  }
  .display-galarry p {
    color: white;
    text-align: center;
  }
  .gallery {
    margin-top: 0px;
    --s: 200px; /* control the size */
    --g: 10px; /* control the gap */
    --f: 1.5; /* control the scale factor */

    display: grid;
    gap: var(--g);
    width: calc(3 * var(--s) + 2 * var(--g));
    aspect-ratio: 1;
    grid-template-columns: repeat(3, auto);
  }

  .gallery > img {
    width: 0;
    height: 0;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    cursor: pointer;
    filter: grayscale(10%);
    transition: 0.35s linear;
  }

  .gallery img:hover {
    filter: grayscale(0);
    width: calc(var(--s) * var(--f));
    height: calc(var(--s) * var(--f));
  }
  /* end of display galarry section*/
}
/* for small screen only */
@media only screen and (max-width: 514px) {
  .hero-sec {
    height: min-content;
    background-color: #212121;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero-sec .left {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .hero-sec .left p {
    color: white;
    font-weight: 100;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-size: 18px;
    text-align: center;
  }
  .welcome-video {
    width: 400px;
    height: 400px;
  }
  /* display galarry section started */
  .display-galarry {
    width: 100%;
    height: min-content;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .display-galarry .content {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px;
  }
  .display-galarry h2 {
    color: yellow;
    text-align: center;
  }
  .display-galarry p {
    color: white;
    text-align: center;
  }
  .gallery {
    --s: 100px; /* control the size */
    --g: 10px; /* control the gap */
    --f: 1.5; /* control the scale factor */
    margin-top: 0px;
    display: grid;
    gap: var(--g);
    width: calc(3 * var(--s) + 2 * var(--g));
    aspect-ratio: 1;
    grid-template-columns: repeat(3, auto);
  }

  .gallery > img {
    width: 0;
    height: 0;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    cursor: pointer;
    filter: grayscale(10%);
    transition: 0.35s linear;
  }

  .gallery img:hover {
    filter: grayscale(0);
    width: calc(var(--s) * var(--f));
    height: calc(var(--s) * var(--f));
  }
  /* end of display galarry section*/
}
